In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
healthy_life_expectancy_file = "healthy_life_expectancy_data.csv"
healthy_life_expectancy_df = pd.read_csv(healthy_life_expectancy_file)

healthy_life_expectancy_df2 = healthy_life_expectancy_df[['Indicator','Location','Period','Dim1','Value']]

healthy_life_expectancy_df3 = healthy_life_expectancy_df2[(healthy_life_expectancy_df2.Indicator=='Healthy life expectancy (HALE) at birth (years)')&(healthy_life_expectancy_df2.Period == 2015) & (healthy_life_expectancy_df2.Dim1 == 'Both sexes')]
healthy_life_expectancy_df3.rename(columns={'Value': 'Healthy Life Expectancy','Period':'Year','Dim1':'Sex'}, inplace=True)

healthy_life_expectancy_df3.reset_index(drop=True, inplace=True)

healthy_life_expectancy_df3.head()

,Indicator,Location,Year,Sex,Healthy Life Expectancy
0,Healthy life expectancy (HALE) at birth (years),Lesotho,2015,Both sexes,42.0
1,Healthy life expectancy (HALE) at birth (years),Central African Republic,2015,Both sexes,44.0
2,Healthy life expectancy (HALE) at birth (years),Eswatini,2015,Both sexes,47.0
3,Healthy life expectancy (HALE) at birth (years),Somalia,2015,Both sexes,48.0
4,Healthy life expectancy (HALE) at birth (years),Mozambique,2015,Both sexes,49.0